{% extends 'base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/products/delivery.css') }}">
    <link rel="font" href="{{ url_for('static', filename='fonts/NeusaNextPro.ttf') }}">
{% endblock %}

{% block header %}
    <div class="header-title">Produto Liberado</div>
    <img class="img-fluid" src="{{ url_for('static', filename='img/unlock.gif') }}" alt="Unlook VM" />
{% endblock %}

{% block content %}
    <div id="page-content" class="page-content" >
        <div class="content-title">Pegue o Produto na Bandeja da Máquina</div>
        <img class="img-fluid d-block" src="{{ url_for('static', filename='img/libera_produto.gif') }}" alt="Libera Produto" />
    </div>
{% endblock %}

{% block footer %}
<div class="page-footer">
    <input name="timeout" id="timeout" type="hidden" value="{{ data.timeout }}" />
    <div class="message-title">
        Mensagem:&nbsp;<span class="message-text"></span>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/products/delivery.js') }}"></script>
{% endblock %}
