{% extends 'base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/products/return.css') }}">
    <link rel="font" href="{{ url_for('static', filename='fonts/NeusaNextPro.ttf') }}">
{% endblock %}

{% block header %}
    <div class="header-title">PRODUTO DEVOLVIDO</div>
    <img class="img-fluid" src="{{ url_for('static', filename='img/unlock.gif') }}" alt="Unlook VM" />
{% endblock %}

{% block content %}
    <div id="page-content" class="page-content" >
        <div class="content-title">Produto devolvido na bandeija</div>
        <img class="img-fluid d-block" src="{{ url_for('static', filename='img/libera_produto.gif') }}" alt="Libera Produto" />
    </div>
{% endblock %}
